## WebScrape Project 1
#### Combining different pages on different battle royal games to compare player count over the past few years

These would be the preliminary steps which would involve importing the libraries required as well as adding the website pages required for the webscraping project

In [1]:
#Importing the necessary libraries for the webscraping.
from bs4 import BeautifulSoup
import requests
import pandas as pd

The next cell takes different pages from the same website. Activeplayer.io
The BR games in question include: 
- Apex Legends
- Call of Duty Warzone
- Overwatch 2
- Fortnite
- Player Unknown BattleGrounds(PUBG)`

The website used for the webscraping is called "activeplayer.io" which focuses on various games with online capabilities and allows for the player base to be counted.

In [2]:
#Here we have the various pages for each BR and the requests used to scrape the page of each.
apex = 'https://activeplayer.io/apex-legends/'
cod = 'https://activeplayer.io/call-of-duty-warzone/'
ovr2 = 'https://activeplayer.io/overwatch-2/'
fortnite = 'https://activeplayer.io/fortnite/'
pubg = 'https://activeplayer.io/pubg/'

apexpage = requests.get(apex)
codpage = requests.get(cod)
ovrpage = requests.get(ovr2)
ftpage = requests.get(fortnite)
pubgpage = requests.get(pubg)

apexsoup = BeautifulSoup(apexpage.text,'html')
codsoup = BeautifulSoup(codpage.text,'html')
ovrsoup = BeautifulSoup(ovrpage.text,'html')
ftsoup = BeautifulSoup(ftpage.text,'html')
pubgsoup = BeautifulSoup(pubgpage.text,'html')

In [3]:
# Here we specify the exact table that would be used for the analysis.
apextable = apexsoup.find_all('table')[1]
codtable = codsoup.find_all('table')[1]
ovrtable = ovrsoup.find_all('table')[1]
fttable = ftsoup.find_all('table')[1]
pubgtable = pubgsoup.find_all('table')[1]


print(pubgtable)

<table class="responsive display nowrap data-t data-t wpDataTable wpDataTableID-53" data-described-by="table_3_desc" data-wpdatatable_id="53" id="table_3" style="display: none; ">
<!-- Table header -->
<thead>
<tr>
<th class="wdtheader sort" data-class="expand" style="">Month</th> <th class="wdtheader sort numdata integer" style="">Average Monthly Players</th> <th class="wdtheader sort numdata integer" style="">Monthly Gain / Loss</th> <th class="phone wdtheader sort numdata float" data-hide="phone" style="">Monthly Gain / Loss %</th> <th class="wdtheader sort numdata integer" style="">Average Daily Players</th> </tr>
</thead>
<!-- /Table header -->
<!-- Table body -->
<tbody>
<tr id="table_53_row_0">
<td style="">Last 30 Days</td>
<td style="">319,186,336</td>
<td style="">16,382,757</td>
<td style="">5.41</td>
<td style="">45,064,114</td>
</tr>
<tr id="table_53_row_1">
<td style="">November 2023</td>
<td style="">302,803,579</td>
<td style="">10,775,824</td>
<td style="">3.69</td>
<td style="">34,575,495</td>
</tr>
<tr id="table_53_row_2">
<td style="">October 2023</td>
<td style="">292,027,755</td>
<td style="">7,400,313</td>
<td style="">2.60</td>
<td style="">31,290,666</td>
</tr>
<tr id="table_53_row_3">
<td style="">September 2023</td>
<td style="">284,627,441</td>
<td style="">-9,409,171</td>
<td style="">-3.20</td>
<td style="">34,603,809</td>
</tr>
<tr id="table_53_row_4">
<td style="">August 2023</td>
<td style="">294,036,613</td>
<td style="">6,329,555</td>
<td style="">2.20</td>
<td style="">25,650,448</td>
</tr>
<tr id="table_53_row_5">
<td style="">July 2023</td>
<td style="">287,707,058</td>
<td style="">3,411,546</td>
<td style="">1.20</td>
<td style="">37,698,799</td>
</tr>
<tr id="table_53_row_6">
<td style="">June 2023</td>
<td style="">284,295,512</td>
<td style="">-4,563,979</td>
<td style="">-1.58</td>
<td style="">28,980,951</td>
</tr>
<tr id="table_53_row_7">
<td style="">May 2023</td>
<td style="">288,859,492</td>
<td style="">-872,092</td>
<td style="">-0.30</td>
<td style="">43,567,037</td>
</tr>
<tr id="table_53_row_8">
<td style="">April 2023</td>
<td style="">289,731,584</td>
<td style="">-2,594,221</td>
<td style="">-0.89</td>
<td style="">43,086,426</td>
</tr>
<tr id="table_53_row_9">
<td style="">March 2023</td>
<td style="">292,325,805</td>
<td style="">-882,557</td>
<td style="">-0.30</td>
<td style="">26,111,783</td>
</tr>
<tr id="table_53_row_10">
<td style="">February 2023</td>
<td style="">293,208,363</td>
<td style="">9,302,816</td>
<td style="">3.28</td>
<td style="">34,716,640</td>
</tr>
<tr id="table_53_row_11">
<td style="">January 2023</td>
<td style="">283,905,547</td>
<td style="">849,867</td>
<td style="">0.30</td>
<td style="">40,248,247</td>
</tr>
<tr id="table_53_row_12">
<td style="">December 2022</td>
<td style="">283,055,680</td>
<td style="">1,355,875</td>
<td style="">0.48</td>
<td style="">33,681,927</td>
</tr>
<tr id="table_53_row_13">
<td style="">November 2022</td>
<td style="">281,699,805</td>
<td style="">-4,305,426</td>
<td style="">-1.51</td>
<td style="">32,394,529</td>
</tr>
<tr id="table_53_row_14">
<td style="">October 2022</td>
<td style="">286,005,231</td>
<td style="">531,321</td>
<td style="">0.19</td>
<td style="">25,834,323</td>
</tr>
<tr id="table_53_row_15">
<td style="">September 2022</td>
<td style="">285,473,910</td>
<td style="">1,354,314</td>
<td style="">0.48</td>
<td style="">26,549,872</td>
</tr>
<tr id="table_53_row_16">
<td style="">August 2022</td>
<td style="">284,119,596</td>
<td style="">-5,428,398</td>
<td style="">-1.87</td>
<td style="">42,026,120</td>
</tr>
<tr id="table_53_row_17">
<td style="">July 2022</td>
<td style="">289,547,994</td>
<td style="">-5,562,599</td>
<td style="">-1.88</td>
<td style="">39,431,162</td>
</tr>
<tr id="table_53_row_18">
<td style="">June 2022</td>
<td style="">295,110,593</td>
<td style="">-9,471,214</td>
<td style="">-3.11</td>
<td style="">36,640,978</td>
</tr>
<tr id="table_53_row_19">
<td style="">May 2022</td>
<td style="">304,581,807</td>
<td style="">-1,538,147</td>
<td style="">-0.50</td>
<td style="">46,169,599</td>
</tr>
<tr id="table_53_row_20">
<td style="">April 2022</td>
<td style="">306,119,954</td>
<td style="">-9,366,158</td>
<td style="">-2.97</td>
<td style="">28,029,458</td>
</tr>
<tr id="table_53_row_21">
<td style="">March 2022</td>
<td style="">315,486,112</td>
<td style="">-3,984,817</td>
<td style="">-1.25</td>
<td style="">32,711,629</td>
</tr>
<tr id="table_53_row_22">
<td style="">February 2022</td>
<td style="">319,470,929</td>
<td style="">-5,889,701</td>
<td style="">-1.81</td>
<td style="">38,112,759</td>
</tr>
<tr id="table_53_row_23">
<td style="">January 2022</td>
<td style="">325,360,630</td>
<td style="">-854,509</td>
<td style="">-0.26</td>
<td style="">38,488,270</td>
</tr>
<tr id="table_53_row_24">
<td style="">December 2021</td>
<td style="">326,215,139</td>
<td style="">211,205,546</td>
<td style="">183.64</td>
<td style="">42,734,457</td>
</tr>
<tr id="table_53_row_25">
<td style="">November 2021</td>
<td style="">115,009,593</td>
<td style="">-209,564,615</td>
<td style="">-64.57</td>
<td style="">14,312,048</td>
</tr>
<tr id="table_53_row_26">
<td style="">October 2021</td>
<td style="">324,574,208</td>
<td style="">4,124,608</td>
<td style="">1.29</td>
<td style="">31,133,431</td>
</tr>
<tr id="table_53_row_27">
<td style="">September 2021</td>
<td style="">320,449,600</td>
<td style="">-1,615,399</td>
<td style="">-0.50</td>
<td style="">47,183,689</td>
</tr>
<tr id="table_53_row_28">
<td style="">August 2021</td>
<td style="">322,064,999</td>
<td style="">-3,239,184</td>
<td style="">-1.00</td>
<td style="">38,983,069</td>
</tr>
<tr id="table_53_row_29">
<td style="">July 2021</td>
<td style="">325,304,183</td>
<td style="">-2,756,716</td>
<td style="">-0.84</td>
<td style="">47,135,867</td>
</tr>
<tr id="table_53_row_30">
<td style="">June 2021</td>
<td style="">328,060,899</td>
<td style="">2,586,970</td>
<td style="">0.79</td>
<td style="">32,686,145</td>
</tr>
<tr id="table_53_row_31">
<td style="">May 2021</td>
<td style="">325,473,929</td>
<td style="">7,354,336</td>
<td style="">2.31</td>
<td style="">41,001,477</td>
</tr>
<tr id="table_53_row_32">
<td style="">April 2021</td>
<td style="">318,119,593</td>
<td style="">3,328,121</td>
<td style="">1.06</td>
<td style="">31,266,414</td>
</tr>
<tr id="table_53_row_33">
<td style="">March 2021</td>
<td style="">314,791,472</td>
<td style="">1,867,469</td>
<td style="">0.60</td>
<td style="">44,978,434</td>
</tr>
<tr id="table_53_row_34">
<td style="">February 2021</td>
<td style="">312,924,003</td>
<td style="">14,619,405</td>
<td style="">4.90</td>
<td style="">34,649,505</td>
</tr>
<tr id="table_53_row_35">
<td style="">January 2021</td>
<td style="">298,304,598</td>
<td style="">15,196,443</td>
<td style="">5.37</td>
<td style="">44,308,042</td>
</tr>
<tr id="table_53_row_36">
<td style="">December 2020</td>
<td style="">283,108,155</td>
<td style="">4,838,579</td>
<td style="">1.74</td>
<td style="">40,603,272</td>
</tr>
<tr id="table_53_row_37">
<td style="">November 2020</td>
<td style="">278,269,576</td>
<td style="">1,957,644</td>
<td style="">0.71</td>
<td style="">34,137,087</td>
</tr>
<tr id="table_53_row_38">
<td style="">October 2020</td>
<td style="">276,311,932</td>
<td style="">4,816,672</td>
<td style="">1.77</td>
<td style="">24,178,553</td>
</tr>
<tr id="table_53_row_39">
<td style="">September 2020</td>
<td style="">271,495,260</td>
<td style="">404,687</td>
<td style="">0.15</td>
<td style="">25,020,093</td>
</tr>
<tr id="table_53_row_40">
<td style="">August 2020</td>
<td style="">271,090,573</td>
<td style="">31,221,120</td>
<td style="">13.02</td>
<td style="">33,256,430</td>
</tr>
<tr id="table_53_row_41">
<td style="">July 2020</td>
<td style="">239,869,453</td>
<td style="">37,370,000</td>
<td style="">18.45</td>
<td style="">35,701,338</td>
</tr>
<tr id="table_53_row_42">
<td style="">June 2020</td>
<td style="">202,499,453</td>
<td style="">-11,960,000</td>
<td style="">-5.58</td>
<td style="">25,326,206</td>
</tr>
<tr id="table_53_row_43">
<td style="">May 2020</td>
<td style="">214,459,453</td>
<td style="">-21,000,000</td>
<td style="">-8.92</td>
<td style="">29,409,297</td>
</tr>
<tr id="table_53_row_44">
<td style="">May 2020</td>
<td style="">235,459,453</td>
<td style="">-22,050,000</td>
<td style="">-8.56</td>
<td style="">30,025,614</td>
</tr>
<tr id="table_53_row_45">
<td style="">April 2020</td>
<td style="">257,509,453</td>
<td style="">39,513,600</td>
<td style="">18.13</td>
<td style="">29,573,004</td>
</tr>
<tr id="table_53_row_46">
<td style="">March 2020</td>
<td style="">217,995,853</td>
<td style="">-34,963,362</td>
<td style="">-13.82</td>
<td style="">30,405,036</td>
</tr>
<tr id="table_53_row_47">
<td style="">February 2020</td>
<td style="">252,959,215</td>
<td style="">-22,969,503</td>
<td style="">-8.32</td>
<td style="">37,147,992</td>
</tr>
<tr id="table_53_row_48">
<td style="">January 2020</td>
<td style="">275,928,718</td>
<td style="">45,878,466</td>
<td style="">19.94</td>
<td style="">32,190,466</td>
</tr>
</tbody> <!-- /Table body -->
<!-- Table footer -->
<!-- /Table footer -->
</table>

In [4]:
#Here we focus on the titles or column heads for the table or dataframe that is intended.
apex_titles = apexsoup.find_all('th')
cod_titles = codsoup.find_all('th')
ovr_titles = ovrsoup.find_all('th')
ft_titles = ftsoup.find_all('th')
pubg_titles = pubgsoup.find_all('th')

pubg_titles

[<th class="wdtheader sort" data-class="expand" style="">PUBG Live Player</th>,
 <th class="wdtheader sort numdata integer pusers" style="">Users</th>,
 <th class="wdtheader sort" data-class="expand" style="">Month</th>,
 <th class="wdtheader sort numdata integer" style="">Average Monthly Players</th>,
 <th class="wdtheader sort numdata integer" style="">Monthly Gain / Loss</th>,
 <th class="phone wdtheader sort numdata float" data-hide="phone" style="">Monthly Gain / Loss %</th>,
 <th class="wdtheader sort numdata integer" style="">Average Daily Players</th>]

In [5]:
#Here we grab the titles or column heads for the table or dataframe that is intended.

apex_table_title = [title.text.strip() for title  in apex_titles]
cod_table_title = [title1.text.strip() for title1  in cod_titles]
ovr_table_title = [title2.text.strip() for title2  in ovr_titles]
ft_table_title = [title3.text.strip() for title3  in ft_titles]
pubg_table_title = [title4.text.strip() for title4 in ft_titles]

print(apex_table_title)
print(cod_table_title)
print(ovr_table_title)
print(ft_table_title)
print(pubg_table_title)

['Apex Legends Live Player', 'Users', '-', 'Month', 'Average Monthly Players', 'Monthly Gain / Loss', 'Monthly Gain / Loss %', 'All Time Peak']
['Modern Warfare Live Player', 'Users', 'Month', 'Average Monthly Players', 'Monthly Gain / Loss', 'Monthly Gain / Loss %', 'Peak Players In a Day']
['Overwatch 2 Live Player', 'Users', '-', 'Month', 'Average Monthly Players', 'Monthly Gain / Loss', 'Monthly Gain / Loss %', 'Average Daily Players']
['Fortnite Live Player', 'Users', '-', 'Month', 'Average Monthly Players', 'Monthly Gain / Loss', 'Monthly Gain / Loss %', 'Peak Players In a Day']
['Fortnite Live Player', 'Users', '-', 'Month', 'Average Monthly Players', 'Monthly Gain / Loss', 'Monthly Gain / Loss %', 'Peak Players In a Day']

At this point the dataframes will be created for each BR before inserting the data gathered from each webpage.

In [6]:
apexdf = pd.DataFrame(columns = apex_table_title)
apexdf.drop(apexdf.columns[[0,1,2]], axis = 1, inplace = True)
apexdf

Empty DataFrame
Columns: [Month, Average Monthly Players, Monthly Gain / Loss, Monthly Gain / Loss %, All Time Peak]
Index: []

In [7]:
coddf = pd.DataFrame(columns = cod_table_title)
coddf.drop(coddf.columns[[0,1]], axis = 1, inplace = True)
coddf

Empty DataFrame
Columns: [Month, Average Monthly Players, Monthly Gain / Loss, Monthly Gain / Loss %, Peak Players In a Day]
Index: []

In [8]:
ovrdf = pd.DataFrame(columns = ovr_table_title)
ovrdf.drop(ovrdf.columns[[0,1,2]], axis = 1, inplace = True)
ovrdf

Empty DataFrame
Columns: [Month, Average Monthly Players, Monthly Gain / Loss, Monthly Gain / Loss %, Average Daily Players]
Index: []

In [9]:
ftdf = pd.DataFrame(columns = ft_table_title)
ftdf.drop(ftdf.columns[[0,1,2]], axis = 1, inplace = True)
ftdf

Empty DataFrame
Columns: [Month, Average Monthly Players, Monthly Gain / Loss, Monthly Gain / Loss %, Peak Players In a Day]
Index: []

In [10]:
pubgdf = pd.DataFrame(columns = pubg_table_title)
pubgdf.drop(pubgdf.columns[[0,1,2]], axis = 1, inplace = True)
pubgdf

Empty DataFrame
Columns: [Month, Average Monthly Players, Monthly Gain / Loss, Monthly Gain / Loss %, Peak Players In a Day]
Index: []

For this next stage, the specified table containing the data from each webpage would be singled out and inserted into each of the dataframes that were earlier made.

In [11]:
apex_col_data = apexsoup.find_all('tr')
cod_col_data = codsoup.find_all('tr')
ovr_col_data = ovrsoup.find_all('tr')
ft_col_data = ftsoup.find_all('tr')
pubg_col_data = pubgsoup.find_all('tr')

In [28]:
#For the Apex Legends BR
for row in apex_col_data[7:46]:
    apex_row_data = (row.find_all('td'))
    apex_individual_row_data = [data.text.strip() for data  in apex_row_data]
    print(apex_individual_row_data )
    
    length = len(apexdf)
    apexdf.loc[length] = apex_individual_row_data

['Last 30 Days', '64,098,817', '1,088,909', '2.00', '12,398,772']
['November 2023', '63,009,908', '1,835,240', '3.00', '4,200,661']
['October 2023', '61,174,668', '-3,287,574', '-5.00', '4,078,311']
['September 2023', '64,462,242', '-1,652,878', '-3.00', '4,297,483']
['August 2023', '66,115,120', '719,353', '1.00', '4,407,675']
['July 2023', '65,395,767', '1,470,286', '2.00', '4,359,718']
['June 2023', '63,925,481', '-1,780,636', '-3.00', '4,261,699']
['May 2023', '65,706,117', '-829,028', '-1.00', '4,380,408']
['April 2023', '66,535,144', '1,333,702', '2.00', '4,435,676']
['March 2023', '65,201,442', '-748,769', '-1.00', '4,346,763']
['February 2023', '65,950,211', '428,731', '1.00', '4,396,681']
['January 2023', '65,521,480', '606,993', '1.00', '4,368,099']
['December 2022', '64,914,487', '-100,058', '0.00', '8,655,265']
['November 2022', '65,014,545', '1,349,531', '0.00', '8,668,606']
['October 2022', '63,665,014', '650,469', '0.00', '8,488,669']
['September 2022', '63,014,545', '-286,601', '0.00', '8,401,939']
['August 2022', '63,301,146', '550,697', '0.00', '8,440,153']
['July 2022', '62,750,449', '430,224', '0.00', '8,366,727']
['June 2022', '62,320,225', '299,079', '0.00', '8,309,363']
['May 2022', '62,021,146', '459,130', '0.00', '8,269,486']
['April 2022', '61,562,016', '538,246', '0.00', '8,208,269']
['March 2022', '61,023,770', '2,522,615', '0.00', '8,136,503']
['February 2022', '58,501,155', '651,141', '0.00', '7,800,154']
['January 2022', '57,850,014', '827,358', '0.00', '7,713,335']
['December 2021', '57,022,656', '1,000,177', '0.00', '7,603,021']
['November 2021', '56,022,479', '2,421,337', '0.00', '7,469,664']
['October 2021', '53,601,142', '3,412,351', '0.00', '7,146,819']
['September 2021', '50,188,791', '2,333,775', '0.00', '6,691,839']
['August 2021', '47,855,016', '4,194,872', '0.00', '6,380,669']
['July 2021', '43,660,144', '2,758,698', '0.00', '5,821,353']
['June 2021', '40,901,446', '1,046,430', '0.00', '5,453,526']
['May 2021', '39,855,016', '6,853,541', '0.00', '5,314,002']
['April 2021', '33,001,475', '3,451,326', '0.00', '4,400,197']
['March 2021', '29,550,149', '888,045', '0.00', '3,940,020']
['February 2021', '28,662,104', '2,253,132', '0.00', '3,821,614']
['January 2021', '26,408,972', '2,628,429', '0.00', '3,521,196']
['December 2020', '23,780,543', '5,201,994', '0.00', '3,170,739']
['November 2020', '18,578,549', '-185,709', '0.00', '2,477,140']
['October 2020', '18,764,258', '2,228,802', '0.00', '4,065,589']

In [27]:
#For the Call of Duty Warzone BR
for row in cod_col_data[7:43]:
    cod_row_data = (row.find_all('td'))
    cod_indi_row_data = [data.text.strip() for data in cod_row_data]
    print(cod_indi_row_data)
    
    cod_length = len(coddf)
    coddf.loc[cod_length] = cod_indi_row_data

['November 2023', '62,823,750', '12,171,690', '24', '9,003,034']
['October 2023', '50,652,060', '-4,166,186', '-7', '5,941,413']
['September 2023', '54,818,247', '2,907,028', '5', '7,290,891']
['August 2023', '51,911,218', '-683,734', '-1', '7,455,062']
['July 2023', '52,594,953', '1,630,851', '3', '7,414,272']
['June 2023', '50,964,101', '-1,788,306', '-3', '7,213,891']
['May 2023', '52,752,408', '69,541', '0', '7,122,857']
['April 2023', '52,682,867', '-702,570', '-1', '6,534,958']
['March 2023', '53,385,437', '70,375', '0', '7,864,984']
['February 2023', '53,315,061', '-643,742', '-1', '7,261,983']
['January 2023', '53,958,804', '71,051', '0', '8,030,855']
['December 2022', '53,887,753', '727,207', '1', '6,523,140']
['November 2022', '53,160,546', '-70,009', '0', '7,997,227']
['October 2022', '53,230,555', '216,099', '0', '7,877,269']
['September 2022', '53,014,456', '-299,593', '0', '7,541,074']
['August 2022', '53,314,049', '188,791', '0', '7,747,723']
['July 2022', '53,125,258', '777,661', '1', '7,474,683']
['June 2022', '52,347,597', '-1,618,998', '-3', '7,573,962']
['May 2022', '53,966,595', '-4,536,887', '-7', '6,241,775']
['April 2022', '58,503,482', '3,396,396', '6', '7,901,128']
['March 2022', '55,107,086', '-5,141,186', '-8', '6,673,589']
['February 2022', '60,248,272', '3,961,904', '7', '8,414,790']
['January 2022', '56,286,368', '2,169,962', '4', '7,190,009']
['December 2021', '54,116,406', '1,581,256', '3', '8,007,798']
['November 2021', '52,535,150', '-509,850', '0', '4,825,178']
['October 2021', '53,045,000', '2,045,000', '4', '4,872,006']
['September 2021', '51,000,000', '-4,125,000', '-7', '4,684,180']
['August 2021', '55,125,000', '7,743,750', '16', '5,063,047']
['July 2021', '47,381,250', '-1,501,238', '-3', '755,601']
['June 2021', '48,882,488', '-1,486,225', '-2', '571,477']
['May 2021', '50,368,713', '2,473,553', '5', '630,211']
['April 2021', '47,895,160', '1,910,919', '4', '590,264']
['March 2021', '45,984,241', '1,379,527', '3', '602,011']
['February 2021', '44,604,714', '-3,237,290', '-6', '569,956']
['January 2021', '47,842,004', '-1,918,371', '-3', '536,552']
['December 2020', '49,760,375', '49,760,375', '0', '517,997']

In [24]:
#For the Overwatch 2 BR
for row in ovr_col_data[7:21]:
    ovr_row_data = (row.find_all('td'))
    ovr_indi_row_data = [data.text.strip() for data  in ovr_row_data]
    print(ovr_indi_row_data )
    
    length = len(ovrdf)
    ovrdf.loc[length] = ovr_indi_row_data

['November 2023', '25,842,352', '897,996', '3', '3,874,204']
['October 2023', '24,944,355', '1,389,723', '5', '3,240,094']
['September 2023', '23,554,632', '-854,313', '-3', '2,943,546']
['August 2023', '24,408,945', '-549,076', '-2', '3,426,046']
['July 2023', '24,958,022', '308,008', '1', '2,879,134']
['June 2023', '24,650,014', '-340,621', '-1', '3,359,818']
['May 2023', '24,990,635', '-724,338', '-2', '3,631,550']
['April 2023', '25,714,974', '39,316', '0', '3,500,184']
['March 2023', '25,675,658', '-347,895', '-1', '3,672,436']
['February 2023', '26,023,553', '2,414,703', '10', '3,857,601']
['January 2023', '23,608,850', '587,703', '2', '3,449,142']
['December 2022', '23,021,147', '2,469,691', '12', '3,494,915']
['November 2022', '20,551,456', '1,990,902', '10', '2,578,445']
['October 2022', '18,560,554', '18,560,554', '100', '2,709,654']

In [29]:
#For the Fortnite BR
for row in ft_col_data[7:56]:
    ft_row_data = (row.find_all('td'))
    ft_indi_row_data = [data.text.strip() for data in ft_row_data]
    print(ft_indi_row_data)
    
    ft_length = len(ftdf)
    ftdf.loc[ft_length] = ft_indi_row_data

['Last 30 Days', '235,145,877', '4,064,055', '2.00', '27,041,776']
['November 2023', '231,081,822', '7,598,435', '3.00', '26,574,410']
['October 2023', '223,483,387', '-7,865,875', '-3.00', '25,700,590']
['September 2023', '231,349,262', '-6,175,648', '-3.00', '26,605,165']
['August 2023', '237,524,910', '-1,674,395', '-1.00', '27,315,365']
['July 2023', '239,199,305', '-3,790,643', '-2.00', '27,507,920']
['June 2023', '242,989,948', '8,443,666', '4.00', '27,943,844']
['May 2023', '234,546,282', '1,477,655', '1.00', '26,972,822']
['April 2023', '233,068,627', '-4,292,210', '-2.00', '26,802,892']
['March 2023', '237,360,837', '1,495,387', '1.00', '15,824,056']
['February 2023', '235,865,450', '-16,734,695', '-7.00', '15,724,363']
['January 2023', '252,600,145', '943,638', '0.00', '25,260,015']
['December 2022', '251,656,507', '1,511,751', '1.00', '25,165,651']
['November 2022', '250,144,756', '-880,842', '0.00', '25,014,476']
['October 2022', '251,025,598', '-2,539,412', '-1.00', '25,102,560']
['September 2022', '253,565,010', '-3,839,113', '-1.00', '29,582,585']
['August 2022', '257,404,123', '2,389,710', '1.00', '27,456,440']
['July 2022', '255,014,413', '-9,486,753', '-4.00', '28,051,585']
['June 2022', '264,501,166', '-4,654,300', '-2.00', '30,858,469']
['May 2022', '269,155,466', '1,104,323', '0.00', '24,223,992']
['April 2022', '268,051,143', '-2,960,403', '-1.00', '24,124,603']
['March 2022', '271,011,546', '1,953,840', '1.00', '24,391,039']
['February 2022', '269,057,706', '-3,652,520', '-1.00', '24,215,194']
['January 2022', '272,710,226', '-2,356,191', '-1.00', '24,543,920']
['December 2021', '275,066,417', '-1,983,729', '-1.00', '24,755,978']
['November 2021', '277,050,146', '-2,614,868', '-1.00', '24,934,513']
['October 2021', '279,665,014', '3,062,800', '1.00', '25,169,851']
['September 2021', '276,602,214', '-3,252,802', '-1.00', '24,894,199']
['August 2021', '279,855,016', '-3,810,000', '-1.00', '25,186,951']
['July 2021', '283,665,016', '2,003,002', '1.00', '30,950,114']
['June 2021', '281,662,014', '-8,482,746', '-3.00', '31,123,565']
['May 2021', '290,144,760', '5,133,295', '2.00', '35,011,479']
['April 2021', '285,011,465', '6,996,998', '3.00', '33,014,465']
['March 2021', '278,014,467', '14,793,038', '6.00', '30,144,709']
['February 2021', '263,221,429', '26,720,283', '11.00', '28,544,163']
['January 2021', '236,501,146', '15,486,592', '7.00', '25,115,476']
['December 2020', '221,014,554', '10,793,148', '5.00', '22,715,791']
['November 2020', '210,221,406', '-54,662,758', '-21.00', '25,491,419']
['October 2020', '264,884,164', '-2,647,738', '-1.00', '23,244,208']
['September 2020', '267,531,902', '-25,334,353', '-9.00', '10,701,276']
['August 2020', '292,866,255', '11,290,630', '4.00', '15,619,534']
['July 2020', '281,575,625', '16,346,759', '6.00', '11,263,025']
['June 2020', '265,228,866', '-16,459,434', '-6.00', '11,493,251']
['May 2020', '281,688,300', '24,475,800', '10.00', '11,267,532']
['May 2020', '257,212,500', '-13,537,500', '-5.00', '11,145,875']
['April 2020', '270,750,000', '-14,250,000', '-5.00', '11,732,500']
['March 2020', '285,000,000', '8,520,000', '3.00', '14,250,000']
['February 2020', '276,480,000', '16,560,000', '6.00', '11,980,800']
['January 2020', '259,920,000', '38,304,000', '100.00', '10,396,800']

In [30]:
#For the Pubg BR
for row in pubg_col_data[7:55]:
    pubg_row_data = (row.find_all('td'))
    pubg_indi_row_data = [data.text.strip() for data in pubg_row_data]
    print(pubg_indi_row_data)
    
    pubg_length = len(pubgdf)
    pubgdf.loc[pubg_length] = pubg_indi_row_data

['November 2023', '302,803,579', '10,775,824', '3.69', '34,575,495']
['October 2023', '292,027,755', '7,400,313', '2.60', '31,290,666']
['September 2023', '284,627,441', '-9,409,171', '-3.20', '34,603,809']
['August 2023', '294,036,613', '6,329,555', '2.20', '25,650,448']
['July 2023', '287,707,058', '3,411,546', '1.20', '37,698,799']
['June 2023', '284,295,512', '-4,563,979', '-1.58', '28,980,951']
['May 2023', '288,859,492', '-872,092', '-0.30', '43,567,037']
['April 2023', '289,731,584', '-2,594,221', '-0.89', '43,086,426']
['March 2023', '292,325,805', '-882,557', '-0.30', '26,111,783']
['February 2023', '293,208,363', '9,302,816', '3.28', '34,716,640']
['January 2023', '283,905,547', '849,867', '0.30', '40,248,247']
['December 2022', '283,055,680', '1,355,875', '0.48', '33,681,927']
['November 2022', '281,699,805', '-4,305,426', '-1.51', '32,394,529']
['October 2022', '286,005,231', '531,321', '0.19', '25,834,323']
['September 2022', '285,473,910', '1,354,314', '0.48', '26,549,872']
['August 2022', '284,119,596', '-5,428,398', '-1.87', '42,026,120']
['July 2022', '289,547,994', '-5,562,599', '-1.88', '39,431,162']
['June 2022', '295,110,593', '-9,471,214', '-3.11', '36,640,978']
['May 2022', '304,581,807', '-1,538,147', '-0.50', '46,169,599']
['April 2022', '306,119,954', '-9,366,158', '-2.97', '28,029,458']
['March 2022', '315,486,112', '-3,984,817', '-1.25', '32,711,629']
['February 2022', '319,470,929', '-5,889,701', '-1.81', '38,112,759']
['January 2022', '325,360,630', '-854,509', '-0.26', '38,488,270']
['December 2021', '326,215,139', '211,205,546', '183.64', '42,734,457']
['November 2021', '115,009,593', '-209,564,615', '-64.57', '14,312,048']
['October 2021', '324,574,208', '4,124,608', '1.29', '31,133,431']
['September 2021', '320,449,600', '-1,615,399', '-0.50', '47,183,689']
['August 2021', '322,064,999', '-3,239,184', '-1.00', '38,983,069']
['July 2021', '325,304,183', '-2,756,716', '-0.84', '47,135,867']
['June 2021', '328,060,899', '2,586,970', '0.79', '32,686,145']
['May 2021', '325,473,929', '7,354,336', '2.31', '41,001,477']
['April 2021', '318,119,593', '3,328,121', '1.06', '31,266,414']
['March 2021', '314,791,472', '1,867,469', '0.60', '44,978,434']
['February 2021', '312,924,003', '14,619,405', '4.90', '34,649,505']
['January 2021', '298,304,598', '15,196,443', '5.37', '44,308,042']
['December 2020', '283,108,155', '4,838,579', '1.74', '40,603,272']
['November 2020', '278,269,576', '1,957,644', '0.71', '34,137,087']
['October 2020', '276,311,932', '4,816,672', '1.77', '24,178,553']
['September 2020', '271,495,260', '404,687', '0.15', '25,020,093']
['August 2020', '271,090,573', '31,221,120', '13.02', '33,256,430']
['July 2020', '239,869,453', '37,370,000', '18.45', '35,701,338']
['June 2020', '202,499,453', '-11,960,000', '-5.58', '25,326,206']
['May 2020', '214,459,453', '-21,000,000', '-8.92', '29,409,297']
['May 2020', '235,459,453', '-22,050,000', '-8.56', '30,025,614']
['April 2020', '257,509,453', '39,513,600', '18.13', '29,573,004']
['March 2020', '217,995,853', '-34,963,362', '-13.82', '30,405,036']
['February 2020', '252,959,215', '-22,969,503', '-8.32', '37,147,992']
['January 2020', '275,928,718', '45,878,466', '19.94', '32,190,466']

This next phase would involve checking each dataframe and more cleaning of the dataset as this would include removing commas and changing data types.

In [31]:
apexdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,All Time Peak
0,Last 30 Days,64098817,1088909,2,12398772
1,November 2023,63009908,1835240,3,4200661
2,October 2023,61174668,-3287574,-5,4078311
3,September 2023,64462242,-1652878,-3,4297483
4,August 2023,66115120,719353,1,4407675
...,...,...,...,...,...
73,February 2021,"28,662,104","2,253,132",0.00,"3,821,614"
74,January 2021,"26,408,972","2,628,429",0.00,"3,521,196"
75,December 2020,"23,780,543","5,201,994",0.00,"3,170,739"
76,November 2020,"18,578,549","-185,709",0.00,"2,477,140"
77,October 2020,"18,764,258","2,228,802",0.00,"4,065,589"

In [32]:
apexdf = apexdf.replace(',','',regex = True)
apexdf = apexdf.astype({"Average Monthly Players":"int","Monthly Gain / Loss":"int",
                        "Monthly Gain / Loss %":'float',"All Time Peak":"int"})
apexdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,All Time Peak
0,Last 30 Days,64098817,1088909,2.0,12398772
1,November 2023,63009908,1835240,3.0,4200661
2,October 2023,61174668,-3287574,-5.0,4078311
3,September 2023,64462242,-1652878,-3.0,4297483
4,August 2023,66115120,719353,1.0,4407675
...,...,...,...,...,...
73,February 2021,28662104,2253132,0.0,3821614
74,January 2021,26408972,2628429,0.0,3521196
75,December 2020,23780543,5201994,0.0,3170739
76,November 2020,18578549,-185709,0.0,2477140
77,October 2020,18764258,2228802,0.0,4065589

In [33]:
coddf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Peak Players In a Day
0,November 2023,"62,823,750","12,171,690",24,"9,003,034"
1,October 2023,"50,652,060","-4,166,186",-7,"5,941,413"
2,September 2023,"54,818,247","2,907,028",5,"7,290,891"
3,August 2023,"51,911,218","-683,734",-1,"7,455,062"
4,July 2023,"52,594,953","1,630,851",3,"7,414,272"
...,...,...,...,...,...
138,April 2021,"47,895,160","1,910,919",4,"590,264"
139,March 2021,"45,984,241","1,379,527",3,"602,011"
140,February 2021,"44,604,714","-3,237,290",-6,"569,956"
141,January 2021,"47,842,004","-1,918,371",-3,"536,552"
142,December 2020,"49,760,375","49,760,375",0,"517,997"

In [34]:
coddf = coddf.replace(',','',regex = True)
coddf = coddf.astype({"Average Monthly Players":"int","Monthly Gain / Loss":"int",
                        "Monthly Gain / Loss %":'float',"Peak Players In a Day":"int"})
coddf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Peak Players In a Day
0,November 2023,62823750,12171690,24.0,9003034
1,October 2023,50652060,-4166186,-7.0,5941413
2,September 2023,54818247,2907028,5.0,7290891
3,August 2023,51911218,-683734,-1.0,7455062
4,July 2023,52594953,1630851,3.0,7414272
...,...,...,...,...,...
138,April 2021,47895160,1910919,4.0,590264
139,March 2021,45984241,1379527,3.0,602011
140,February 2021,44604714,-3237290,-6.0,569956
141,January 2021,47842004,-1918371,-3.0,536552
142,December 2020,49760375,49760375,0.0,517997

In [35]:
ovrdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Average Daily Players
0,November 2023,"25,842,352","897,996",3,"3,874,204"
1,October 2023,"24,944,355","1,389,723",5,"3,240,094"
2,September 2023,"23,554,632","-854,313",-3,"2,943,546"
3,August 2023,"24,408,945","-549,076",-2,"3,426,046"
4,July 2023,"24,958,022","308,008",1,"2,879,134"
5,June 2023,"24,650,014","-340,621",-1,"3,359,818"
6,May 2023,"24,990,635","-724,338",-2,"3,631,550"
7,April 2023,"25,714,974","39,316",0,"3,500,184"
8,March 2023,"25,675,658","-347,895",-1,"3,672,436"
9,February 2023,"26,023,553","2,414,703",10,"3,857,601"
10,January 2023,"23,608,850","587,703",2,"3,449,142"
11,December 2022,"23,021,147","2,469,691",12,"3,494,915"
12,November 2022,"20,551,456","1,990,902",10,"2,578,445"
13,November 2023,"25,842,352","897,996",3,"3,874,204"
14,October 2023,"24,944,355","1,389,723",5,"3,240,094"
15,September 2023,"23,554,632","-854,313",-3,"2,943,546"
16,August 2023,"24,408,945","-549,076",-2,"3,426,046"
17,July 2023,"24,958,022","308,008",1,"2,879,134"
18,June 2023,"24,650,014","-340,621",-1,"3,359,818"
19,May 2023,"24,990,635","-724,338",-2,"3,631,550"
20,April 2023,"25,714,974","39,316",0,"3,500,184"
21,March 2023,"25,675,658","-347,895",-1,"3,672,436"
22,February 2023,"26,023,553","2,414,703",10,"3,857,601"
23,January 2023,"23,608,850","587,703",2,"3,449,142"
24,December 2022,"23,021,147","2,469,691",12,"3,494,915"
25,November 2022,"20,551,456","1,990,902",10,"2,578,445"
26,October 2022,"18,560,554","18,560,554",100,"2,709,654"
27,November 2023,"25,842,352","897,996",3,"3,874,204"
28,October 2023,"24,944,355","1,389,723",5,"3,240,094"
29,September 2023,"23,554,632","-854,313",-3,"2,943,546"
30,August 2023,"24,408,945","-549,076",-2,"3,426,046"
31,July 2023,"24,958,022","308,008",1,"2,879,134"
32,June 2023,"24,650,014","-340,621",-1,"3,359,818"
33,May 2023,"24,990,635","-724,338",-2,"3,631,550"
34,April 2023,"25,714,974","39,316",0,"3,500,184"
35,March 2023,"25,675,658","-347,895",-1,"3,672,436"
36,February 2023,"26,023,553","2,414,703",10,"3,857,601"
37,January 2023,"23,608,850","587,703",2,"3,449,142"
38,December 2022,"23,021,147","2,469,691",12,"3,494,915"
39,November 2022,"20,551,456","1,990,902",10,"2,578,445"
40,October 2022,"18,560,554","18,560,554",100,"2,709,654"
41,November 2023,"25,842,352","897,996",3,"3,874,204"
42,October 2023,"24,944,355","1,389,723",5,"3,240,094"
43,September 2023,"23,554,632","-854,313",-3,"2,943,546"
44,August 2023,"24,408,945","-549,076",-2,"3,426,046"
45,July 2023,"24,958,022","308,008",1,"2,879,134"
46,June 2023,"24,650,014","-340,621",-1,"3,359,818"
47,May 2023,"24,990,635","-724,338",-2,"3,631,550"
48,April 2023,"25,714,974","39,316",0,"3,500,184"
49,March 2023,"25,675,658","-347,895",-1,"3,672,436"
50,February 2023,"26,023,553","2,414,703",10,"3,857,601"
51,January 2023,"23,608,850","587,703",2,"3,449,142"
52,December 2022,"23,021,147","2,469,691",12,"3,494,915"
53,November 2022,"20,551,456","1,990,902",10,"2,578,445"
54,October 2022,"18,560,554","18,560,554",100,"2,709,654"

In [36]:
ovrdf = ovrdf.replace(',','',regex = True)
ovrdf = ovrdf.astype({"Average Monthly Players":"int","Monthly Gain / Loss":"int",
                        "Monthly Gain / Loss %":'float',"Average Daily Players":"int"})
ovrdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Average Daily Players
0,November 2023,25842352,897996,3.0,3874204
1,October 2023,24944355,1389723,5.0,3240094
2,September 2023,23554632,-854313,-3.0,2943546
3,August 2023,24408945,-549076,-2.0,3426046
4,July 2023,24958022,308008,1.0,2879134
5,June 2023,24650014,-340621,-1.0,3359818
6,May 2023,24990635,-724338,-2.0,3631550
7,April 2023,25714974,39316,0.0,3500184
8,March 2023,25675658,-347895,-1.0,3672436
9,February 2023,26023553,2414703,10.0,3857601
10,January 2023,23608850,587703,2.0,3449142
11,December 2022,23021147,2469691,12.0,3494915
12,November 2022,20551456,1990902,10.0,2578445
13,November 2023,25842352,897996,3.0,3874204
14,October 2023,24944355,1389723,5.0,3240094
15,September 2023,23554632,-854313,-3.0,2943546
16,August 2023,24408945,-549076,-2.0,3426046
17,July 2023,24958022,308008,1.0,2879134
18,June 2023,24650014,-340621,-1.0,3359818
19,May 2023,24990635,-724338,-2.0,3631550
20,April 2023,25714974,39316,0.0,3500184
21,March 2023,25675658,-347895,-1.0,3672436
22,February 2023,26023553,2414703,10.0,3857601
23,January 2023,23608850,587703,2.0,3449142
24,December 2022,23021147,2469691,12.0,3494915
25,November 2022,20551456,1990902,10.0,2578445
26,October 2022,18560554,18560554,100.0,2709654
27,November 2023,25842352,897996,3.0,3874204
28,October 2023,24944355,1389723,5.0,3240094
29,September 2023,23554632,-854313,-3.0,2943546
30,August 2023,24408945,-549076,-2.0,3426046
31,July 2023,24958022,308008,1.0,2879134
32,June 2023,24650014,-340621,-1.0,3359818
33,May 2023,24990635,-724338,-2.0,3631550
34,April 2023,25714974,39316,0.0,3500184
35,March 2023,25675658,-347895,-1.0,3672436
36,February 2023,26023553,2414703,10.0,3857601
37,January 2023,23608850,587703,2.0,3449142
38,December 2022,23021147,2469691,12.0,3494915
39,November 2022,20551456,1990902,10.0,2578445
40,October 2022,18560554,18560554,100.0,2709654
41,November 2023,25842352,897996,3.0,3874204
42,October 2023,24944355,1389723,5.0,3240094
43,September 2023,23554632,-854313,-3.0,2943546
44,August 2023,24408945,-549076,-2.0,3426046
45,July 2023,24958022,308008,1.0,2879134
46,June 2023,24650014,-340621,-1.0,3359818
47,May 2023,24990635,-724338,-2.0,3631550
48,April 2023,25714974,39316,0.0,3500184
49,March 2023,25675658,-347895,-1.0,3672436
50,February 2023,26023553,2414703,10.0,3857601
51,January 2023,23608850,587703,2.0,3449142
52,December 2022,23021147,2469691,12.0,3494915
53,November 2022,20551456,1990902,10.0,2578445
54,October 2022,18560554,18560554,100.0,2709654

In [37]:
ftdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Peak Players In a Day
0,Last 30 Days,"235,145,877","4,064,055",2.00,"27,041,776"
1,November 2023,"231,081,822","7,598,435",3.00,"26,574,410"
2,October 2023,"223,483,387","-7,865,875",-3.00,"25,700,590"
3,September 2023,"231,349,262","-6,175,648",-3.00,"26,605,165"
4,August 2023,"237,524,910","-1,674,395",-1.00,"27,315,365"
...,...,...,...,...,...
239,May 2020,"257,212,500","-13,537,500",-5.00,"11,145,875"
240,April 2020,"270,750,000","-14,250,000",-5.00,"11,732,500"
241,March 2020,"285,000,000","8,520,000",3.00,"14,250,000"
242,February 2020,"276,480,000","16,560,000",6.00,"11,980,800"
243,January 2020,"259,920,000","38,304,000",100.00,"10,396,800"

In [38]:
ftdf = ftdf.replace(',','',regex = True)
ftdf = ftdf.astype({"Average Monthly Players":"int","Monthly Gain / Loss":"int",
                        "Monthly Gain / Loss %":'float',"Peak Players In a Day":"int"})
ftdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Peak Players In a Day
0,Last 30 Days,235145877,4064055,2.0,27041776
1,November 2023,231081822,7598435,3.0,26574410
2,October 2023,223483387,-7865875,-3.0,25700590
3,September 2023,231349262,-6175648,-3.0,26605165
4,August 2023,237524910,-1674395,-1.0,27315365
...,...,...,...,...,...
239,May 2020,257212500,-13537500,-5.0,11145875
240,April 2020,270750000,-14250000,-5.0,11732500
241,March 2020,285000000,8520000,3.0,14250000
242,February 2020,276480000,16560000,6.0,11980800
243,January 2020,259920000,38304000,100.0,10396800

In [39]:
pubgdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Peak Players In a Day
0,November 2023,"302,803,579","10,775,824",3.69,"34,575,495"
1,October 2023,"292,027,755","7,400,313",2.60,"31,290,666"
2,September 2023,"284,627,441","-9,409,171",-3.20,"34,603,809"
3,August 2023,"294,036,613","6,329,555",2.20,"25,650,448"
4,July 2023,"287,707,058","3,411,546",1.20,"37,698,799"
...,...,...,...,...,...
91,May 2020,"235,459,453","-22,050,000",-8.56,"30,025,614"
92,April 2020,"257,509,453","39,513,600",18.13,"29,573,004"
93,March 2020,"217,995,853","-34,963,362",-13.82,"30,405,036"
94,February 2020,"252,959,215","-22,969,503",-8.32,"37,147,992"
95,January 2020,"275,928,718","45,878,466",19.94,"32,190,466"

In [40]:
pubgdf = pubgdf.replace(',','',regex = True)
pubgdf = pubgdf.astype({"Average Monthly Players":"int","Monthly Gain / Loss":"int",
                        "Monthly Gain / Loss %":'float',"Peak Players In a Day":"int"})
pubgdf

,Month,Average Monthly Players,Monthly Gain / Loss,Monthly Gain / Loss %,Peak Players In a Day
0,November 2023,302803579,10775824,3.69,34575495
1,October 2023,292027755,7400313,2.60,31290666
2,September 2023,284627441,-9409171,-3.20,34603809
3,August 2023,294036613,6329555,2.20,25650448
4,July 2023,287707058,3411546,1.20,37698799
...,...,...,...,...,...
91,May 2020,235459453,-22050000,-8.56,30025614
92,April 2020,257509453,39513600,18.13,29573004
93,March 2020,217995853,-34963362,-13.82,30405036
94,February 2020,252959215,-22969503,-8.32,37147992
95,January 2020,275928718,45878466,19.94,32190466

Finally each dataset would be saved as a csv file.

In [41]:
apexdf.to_csv(r'D:\data\BR analysis\apexcount.csv')

In [42]:
coddf.to_csv(r'D:\data\BR analysis\codcount.csv')

In [43]:
ovrdf.to_csv(r'D:\data\BR analysis\ovrcount.csv')

In [44]:
ftdf.to_csv(r'D:\data\BR analysis\ftcount.csv')

In [37]:
pubgdf.to_csv(r'D:\data\BR analysis\pubgcount.csv')